
@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2><br />
<br />
<h4>How do you sign up for a new petition</h4>
<p>eubfjbanjkbkhbkbvkjbajlehurhhfbhvvhbvhbbrrbrubbbfjbjkruhfjnjbhbhkbebrhee</p>
<br />
<br />
<br />
<h2>Contact Details</h2><br />
<br />
<address>
    1059 Prospect Street<br />
    Hatfield, Pretoria 0083<br />
    <abbr title="Phone">P:</abbr>
    011 425 3777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

