
@{
    ViewBag.Title = "MoreS";
}

<h2>Storie Information</h2><<br />
<br />
<br />
<img src="./images/hyundaiVeloster.jpg" width="640" height="320" alt="Story"><br />
<br />

<blockquote class="blockquote text-center" >
    <p  class="mb-0">"Speaking...slowly freed me from the shame I'd felt. The more I struggled to speak, the less power the rape and its aftermath seemed to have over me"</p>
    <footer class="blockquote-footer"> - Nancy Venable Raine</footer>
</blockquote>

<p>
    On May 10, 1998, I walked into my best friend's store, just like I did every other day. My friend Lawrence's cousin, Ziyad, was there. I had never met him before. I was helping out at the store, it was no big deal- I did it every other day. My mom worked there too, but she wasn't there that day. I was an innocent little 13 year old girl, I basically knew nothing about sex, and I never thought that I could be raped. I always said "It could never happen to me." But it did. And to this day, I live with the regrets that I thought nothing like that could ever happen to me.

    I was doing the cash register, it was a Sunday, so liquor sales didn't start until noon. Lawrence and Ziyad sat in the office until noon when the liquor sales started, then Lawrence and I traded places. For the longest time Ziyad and I sat in the office talking and getting to know each other. We talked about people, sports, cars, just small talk. Then he began making perverted comments to me. Feeling very uncomfortable, I went up to the cash register with Lawrence. I didn't tell him about his cousin. Now I know I should have.

    At about 2:30, Lawrence sent me and Ziyad into that back room to do some work. I was back there, minding my own business and doing my thing. Ziyad grabbed me by my arms and drug me into the bathroom. I screamed. He put this hand over my mouth and started to undo his pants. Knowing what was about to happen I froze. My whole body went numb. I couldn't move. After he was done, he got dressed and walked out of the bathroom like nothing happened. He left me there with my tears. When he walked out the door, he took with him my pride, my security and my virginity. I had so many thoughts going through my mind. What if I tell someone and they don't believe me? Was it my fault? I thought Lawrence was my friend, if he was, how could his cousin do this to me? Not to mention the multiple feelings I had. Shame. Guilt. Anger. Fear. But most of all disbelief. How could this happen to me?
</p>
<p>https://www.healthyplace.com/abuse/rape/sexual-assault-rape-survivor-stories</p>

<a class="btn btn-primary" href="@Url.Action("Stories","Program")">Back</a>

