
@{
    ViewBag.Title = "More";
}

<h2>Partnership Information</h2>

<p>
    As part of Sexual Assault Awareness and Prevention Month (SAAPM), Google released Me Too Rising, a visualization of the global #MeToo movement through Google Trends data. On the site, which today is featured on google.com, users can explore the spread of #MeToo over time as it has unfolded in each city across the globe. Google is also partnering with Tarana Burke, the founder of the #MeToo movement.



    Additionally, Google announced a $250,000 gift to RAINN to provide increased support to survivors through the National Sexual Assault Hotline, which has helped more than 2.7 million people since 1994.

    Last year, RAINN’s victim services programs helped a record 209,480 survivors and their loved ones. As #MeToo has spread, the number of people reaching out for help has continued to increase. In the first quarter of 2018, RAINN’s programs helped 46% more people than in the prior year.

    Support specialists are available by phone (800.656.HOPE) and online chat in English and Spanish. The service is free, confidential, and available 24/7. The telephone hotline is operated in partnership with 1,000 local service providers.
</p>

<p>https://www.rainn.org/news/google-partners-rainn-me-too-rising</p>


<a class="btn btn-primary" href="@Url.Action("Partnerships","Program")">Back</a>

