
@{
    ViewBag.Title = "Partnerships";
}

<h2>Partnerships</h2>

<script src="~/Scripts/script.js"></script>
<link href="~/Scripts/StyleSheet1.css" rel="stylesheet" />

<body>
    <div class="section clearfix">
        <h2 class="sectionHeader">Partnership 1</h2>
        <div class="two">
            <div class="car" id="veloster">
                
                <table style="width:100%">
                    <tr>
                        <td>RAINN is once again partnering with Google to ensure that survivors of sexual violence get the support they need and deserve through the National Sexual Assault Hotline and rainn.org.   <br /><a class="btn btn-link" href="@Url.Action("More", "Program")">Read more...</a></td>
                        <td><img src="./images/hyundaiVeloster.jpg" width="640" height="320" alt="Partnership 1" ></td>
                    </tr>

                </table>
               
            </div>
        </div>
        </div>

    <div class="section clearfix">
        <h2 class="sectionHeader">Partnership 2</h2>
        <div class="two">
            <div class="car" id="veloster">

                <table style="width:100%">
                    <tr>
                        <td>RAINN is once again partnering with Google to ensure that survivors of sexual violence get the support they need and deserve through the National Sexual Assault Hotline and rainn.org.   <br /><a class="btn btn-link" href="@Url.Action("More", "Program")">Read more...</a></td>
                        <td><img src="./images/hyundaiVeloster.jpg" width="640" height="320" alt="Partnership 2"></td>
                    </tr>

                </table>

            </div>
        </div>
    </div>

    <div class="section clearfix">
        <h2 class="sectionHeader">Partnership 3</h2>
        <div class="two">
            <div class="car" id="veloster">

                <table style="width:100%">
                    <tr>
                        <td>RAINN is once again partnering with Google to ensure that survivors of sexual violence get the support they need and deserve through the National Sexual Assault Hotline and rainn.org.      <br /><a class="btn btn-link" href="@Url.Action("More", "Program")">Read more...</a></td>
                        <td><img src="./images/hyundaiVeloster.jpg" width="640" height="320" alt="Partnership 3"></td>
                    </tr>

                </table>

            </div>
        </div>
    </div>


</body>
