
@{
    ViewBag.Title = "SignPetition";
}
<h2>@ViewBag.Message</h2>
<br />
<br />
<br />


<div class="form-group">
    <a class="btn btn-primary" style="float:right" href="@Url.Action("Index","Program")">Back to home page</a><br />
    <br /><a class="btn btn-primary" style="float:right" href="@Url.Action("Petition","Program")">Back to petitions</a>
</div>

