
@{
    ViewBag.Title = "StartPetition";

}


<form>
    <fieldset>
        <legend>Petition</legend>
        <div class="form-group">
            <label for="exampleInputName">Title</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="InputBackground">Background</label>
            <textarea class="form-control" id="exampleTextarea" rows="20"></textarea>
        </div>
        <div class="form-group">
            <label for="InputGoal">Goal</label>
            <textarea class="form-control" id="exampleTextarea" rows="20"></textarea>
        </div>
        <div class="form-group">
            <label for="InputBy">By</label>
            <input type="date" class="form-control" id="exampleInputDate" placeholder="yyyy-mm-dd">
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                <label class="custom-control-label" for="customCheck1">Single Petition</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2" disabled="">
                <label class="custom-control-label" for="customCheck2">Group Petition</label>
            </div>
        </div>
        <br />

        <div class="form-group">
             <a class="btn btn-primary " href="@Url.Action("Petition","Program")">Create</a>
            <a class="btn btn-primary " href="@Url.Action("Index","Program")">Cancel</a><br />
        </div>

    </fieldset>
</form>



