
@{
    ViewBag.Title = "Stories";
}

<h2>Stories</h2>
<br />
<a class="btn btn-primary " href="@Url.Action("UserCreateStories","Program")">New Petition</a>
<br />
<br />
<br />

<script src="~/Scripts/script.js"></script>
<link href="~/Scripts/StyleSheet1.css" rel="stylesheet" />

<body>
    <div class="section clearfix">
        <h2 class="sectionHeader">Story 1</h2>
        <div class="two">
            <div class="car" id="veloster">

                <table style="width:100%">
                    <tr>
                        <td><span style="font-weight:bold; color:gray">Meet Jade</span> an adult survivor of sexual abuse. She has been living with these memories for a long time. Some survivors keep the abuse a secret for many years. They may have tried to tell an adult and met with resistance or felt there was no one they could trust.       <br /><a class="btn btn-link" href="@Url.Action("MoreS", "Program")">Read more...</a></td>
                        <td><img src="./images/hyundaiVeloster.jpg" width="640" height="320" alt="Story 1"></td>


                    </tr>
                </table>

            </div>
        </div>
    </div>

    <div class="section clearfix">
        <h2 class="sectionHeader">Story 2</h2>
        <div class="two">
            <div class="car" id="veloster">

                <table style="width:100%">
                    <tr>
                        <td><span style="font-weight:bold; color:gray">Meet Jade</span> an adult survivor of sexual abuse. She has been living with these memories for a long time. Some survivors keep the abuse a secret for many years. They may have tried to tell an adult and met with resistance or felt there was no one they could trust.       <br /><a class="btn btn-link" href="@Url.Action("MoreS", "Program")">Read more...</a></td>
                        <td><img src="./images/hyundaiVeloster.jpg" width="640" height="320" alt="Story 2"></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

    <div class="section clearfix">
        <h2 class="sectionHeader">Story 3</h2>
        <div class="two">
            <div class="car" id="veloster">

                <table style="width:100%">
                    <tr>
                        <td><span style="font-weight:bold; color:gray">Meet Jade</span> an adult survivor of sexual abuse. She has been living with these memories for a long time. Some survivors keep the abuse a secret for many years. They may have tried to tell an adult and met with resistance or felt there was no one they could trust.       <br /><a class="btn btn-link" href="@Url.Action("MoreS", "Program")">Read more...</a></td>
                        <td><img src="./images/hyundaiVeloster.jpg" width="640" height="320" alt="Story 3"></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>


</body>
