
@{
    ViewBag.Title = "FormsUpdate";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<h2>@ViewBag.Message</h2>
<br />
<br />
<a class="btn btn-primary " href="@Url.Action("Forms","Admin")">Update</a>
<a class="btn btn-primary " href="@Url.Action("Forms","Admin")">Back</a>

