
@{
    ViewBag.Title = "PetitionsDelete";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<h2>@ViewBag.Message</h2>
<br />
<br />

<div class="form-group">
            <a class="btn btn-primary " href="@Url.Action("Petitions","Admin")">Create</a><br />
            <a class="btn btn-primary " href="@Url.Action("Petitions","Admin")">Cancel</a><br />
        </div>
