
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<h2>SignUp</h2>


<form>
    <fieldset>


        <div class="form-group">
            <label for="staticUserName">User Name</label>
            <input type="text" class="form-control" id="exampleInputUserName" aria-describedby="usernameHelp" placeholder="Enter username">
        </div>


        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">Re-Enter Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>

    </fieldset>
    <div class="form-group">
        <a class="btn btn-primary" href="@Url.Action("Index","Admin")">SignUp</a>
        <br /><span>Already an admin?</span><a class="btn btn-link" href="@Url.Action("Login", "Admin")">Sign In</a>
    </div>



</form>


