
@{
    ViewBag.Title = "StoriesDelete";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<h2>@ViewBag.Message</h2>
<br />
<br />
<a class="btn btn-primary " href="@Url.Action("Stories","Admin")">Yes</a><br />
<br />
<br />
<a class="btn btn-primary " href="@Url.Action("Stories","Admin")">Cancel</a>

