
@{
    ViewBag.Title = "UsersUpdate";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}



<h2>@ViewBag.Message</h2>
<br />
<br />

<br />
<br />


<div class="form-group">
    <a class="btn btn-primary " href="@Url.Action("Users","Admin")">Update</a><br />
    <br /><a class="btn btn-primary " href="@Url.Action("Users","Admin")">Back</a>
</div>


